<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8">
    <title>Ilysa by Example: Not Found</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Ilysa by Example</a></h2>
      <p>Sorry, we couldn't find that! Check out the <a href="./">home page</a>?</p>
      <p class="footer">
        by <a href="https://twitter.com/shasderias">@shasderias</a> | <a href="mailto:shasderias@gmail.com">feedback</a> | <a href="https://github.com/shasderias/ilysabyexample">source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
